---
---

@import "{{ site.theme }}";
@import "bootstrap/bootstrap";

@keyframes appearText {
  0% {
    opacity: 0;
    transform: translateY(0vw);
  }
  100% {
    opacity: 1;
    transform: translateY(0.75vw);
  }
}

.navbar {
  overflow: hidden;
}

.navbar h3 {
  font-size: max(1.25vw, 1.5em);
  font-family: 'Montserrat';
  transition: 0.2s all ease-in-out;
  font-style: italic;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.navbar a {
  color: white;
}

.navbar img {
  height: max(3vw, 3.5em);
}

.navbar a:hover {
  transform: scale(1.5); 
  color: #535353;
  text-decoration: none;
}

#current {
  color: #535353;
}

.page-header {
  background-image: url("{{ site.baseurl }}/assets/images/banner.jpg");
  //background-image: none;
  background-color: #202020;
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 60%, transparent 100%);
}

html, body {
  background-color: #101010;
  margin: 0;
  height: 100%;
}

img {
  object-fit: scale-down;
}

.main-content {
  max-width: 100%;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  font-weight: bold;
  color: #fff;
  font-family: 'Montserrat';
}

.main-content p {
  font-family: 'Montserrat';
  color: #fff;
}

.site-footer {
  color: #fff;
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  font-size: 1.15em;
  background-color: #080808;
  font-family: 'Montserrat';
}

#index {
  padding: 0;
}

#index h1 {
  font-size: max(4vw, 3.5em);
  justify-content: center;
  animation-name: appearText;
  opacity: 0;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

#index h2 {
  font-size: max(2vw, 1.5em);
  font-weight: 400;
  opacity: 0;
  animation-name: appearText;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.contact-left h1 {
  font-size: max(4vw, 3.5em);
}

.contact-left h2 {
  font-size: max(2vw, 1.5em);
  font-weight: 500;
}

.contact-right h1 {
  font-weight: 400;
  font-size: max(2vw, 1.5em);
} 

.contact-right h2 {
  font-weight: 400;
  font-size: max(1.5vw, 1.25em);
}

.contact-right img {
  height: max(3vw, 3em);
}

.contact-left {
  animation-name: appearText;
  opacity: 0;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  padding-top: 5vh;
}

.contact-right {
  animation-name: appearText;
  opacity: 0;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  padding-top: 10vh;
}