---
---

@import "{{ site.theme }}";
@import "bootstrap/bootstrap";

@keyframes appearText {
  0% {
    opacity: 0;
    transform: translateY(0rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0.5rem);
  }
}

.navbar {
  font-size: 2rem;
  overflow: hidden;
}

.navbar a {
  color: white;
  font-family: 'Montserrat';
  transition: 0.2s all ease-in-out;
  font-style: italic;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.navbar a:hover {
  transform: scale(1.5); 
  color: #535353;
  text-decoration: none;
}

#current {
  color: #535353;
}

.page-header {
  background-image: url("{{ site.baseurl }}/assets/images/banner.jpg");
  background-color: #101010;
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 60%, transparent 100%);
}

html, body {
  background-color: #101010;
  margin: 0;
  height: 100%;
}

.main-content {
  max-width: 100%;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  font-weight: bold;
  color: #fff;
  font-family: 'Montserrat';
}

.main-content p {
  font-family: 'Montserrat';
  color: #fff;
}

.site-footer {
  color: #fff;
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  font-size: 1.15rem;
  background-color: #080808;
  font-family: 'Montserrat';
}

#index {
  padding: 0;
}

#index h1 {
  font-size: 4rem;
  justify-content: center;
  animation-name: appearText;
  opacity: 0;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

#index h2 {
  font-size: 2rem;
  font-weight: 400;
  opacity: 0;
  animation-name: appearText;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}