---
layout: default
---

<div class = "about w-75">
  <div class = "row mt-5 anim-first">
    <div class = "col">
      <h1>WHO AM I? <img class = "heading-star" src = "../assets/images/single-star.png"> </h1>
      <p>
        Hi, I am Markus Schüller Perdigón, a Computer Engineer graduated from the University of La Laguna in 2022 and currently living in Tenerife, Spain.
      </p>
    </div>
    <div class = "col"></div>
  </div>
  <div class = "row mt-5 anim-second">
    <div class = "col"></div>
    <div class = "col">
      <h3><img class = "heading-star" src = "../assets/images/single-star.png">MY PASSIONS</h3>
      <p>
        I am very passionate about technology, especially about programming and software development. I am also very interested in astronomy and everything space related (hence the design of this website). <br>
        In my free time I also enjoy playing videogames, reading books and photography, among other things. <br>
        And above everything, I love seeking new challenges to learn and expand my knowledge and skills!
      </p>
    </div>
  </div>
  <div class = "row mt-5 anim-third">
    <div class = "col">
    <h3 class = "text-center"><img class = "heading-star" src = "../assets/images/single-star.png">MY SKILLS<img class = "heading-star" src = "../assets/images/single-star.png"></h3>
    <div class = "row justify-content-center">
      <div class = "col text-left p-3">
        <h5>PROGRAMMING</h5>
        <ul>
          <li>C/C++</li>
          <li>Python</li>
          <li>JavaScript</li>
        </ul>
      </div>
      <div class = "col text-center p-3">
        <h5>TECHNOLOGIES</h5>
        <ul>
          <li>Git</li>
          <li>Unity</li>
          <li>Deep Learning</li>
        </ul>
      </div>
      <div class = "col text-right p-3">
        <h5>LANGUAGES</h5>
        <ul>
          <li>Spanish - (Native)</li>
          <li>English - (Full Professional)</li>
          <li>German - (Limited)</li>
        </ul>
      </div>
    </div>  
    </div>
  </div>
</div>