<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <div class = "navbar row">
        <div class = "col col-xxl-3">
          <a href="{{ '/' | relative_url }}">
            <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="icon" style="height: 4rem;">
          </a>
        </div>
        <div class = "col offset-md-2"></div>
        {% for item in site.data.navbar.nav %}
        <div class = "col col-xxl-2">
          <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
        </div>
        {% endfor %}
      </div>
    </header>

    <main id="content" class="row main-content h-75 m-0" role="main">
      {{ content }}

      <!-- Not using footer for now
        <footer class="row site-footer navbar fixed-bottom text-center">
          {% if site.github.is_project_page %}
            <div class="col-md-8 mx-auto"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</div>
          {% endif %}
        </footer>
      -->
    </main>
  </body>
</html>
